{% extends "base.html" %}
{% block content %}
<h1>Consultar Prestamos</h1>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
      Student ID: <input  id="in" type="text" name="buscar">
      <input  id="btn" type="submit" value="buscar">

      <div id="datos"></div>

    <script>
    $("#btn").on("click" , HiceClick);
    
    function HiceClick(){
      var code = document.getElementById("in").value;
       if(code.length>0){
            if(/^\d{10}$/.test(code)){
      $("#datos").html("");
      var html ="";

      $.ajax({

        data : {"code" : code},
        url : "/prestamo/ajx-consultarp",
        type : "get",
        dataType: 'json',
        success : function(data){
          
          var dt = data.data;
          console.log(dt)


          if(dt.length==0){
            html = "No tiene prestamos activos";
          
          }else if(dt[0].prestamos.length>0){
                    
                  html+= dt[0].nombre + "\n";
                  for(i=0; i<dt[0].prestamos.length ; i++){
                  html+= "Consecutivo: " + dt[0].prestamos[i].id + " Titulo: " + dt[0].prestamos[i].titulo + " Activo: " + dt[0].prestamos[i].activo +"\n" + " Fecha: " + dt[0].prestamos[i].fecha;
                    }

          }
        
          $("#datos").html(html);

        }



      });
    }else{
            window.alert("por favor ingrese números (10)")
        }
    }else{
        window.alert("Por favor llene el campo");
    }
    }
</script>


{% endblock %}