{% extends "base.html" %}
{% block content %}
<h1>Registrar prestamo</h1>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
        var code = "";
        var libro = "";
    </script>
    
        libro code : <input  id="in" type="text" name="buscar">
        <input  id="btn" type="submit" value="buscar">
        <div id="dive" style="display:none">student code: <input  id="incd" type="text" name="codigo">  
        <input  id="btn-c" type="submit" value="crear">
        </div>

        <div id="datos"></div>

    <script>
    $("#btn").on("click" , HiceClick);
    
    function HiceClick(){
        libro  = document.getElementById("in").value;
        
        $("#datos").html("");
        var html ="";

        $.ajax({

            data : {"libro" : libro},
            url : "/prestamo/ajx-consultarl",
            type : "get",
            dataType: 'json',
            success : function(data){
                
                var dt = data.data;
                if(dt.length>0){
                    html= "titulo: " + dt[0].titulo + " edicion: " + dt[0].edicion + " volumen: " + dt[0].volumen;
                    document.getElementById('dive').style.display = 'block';

                }else{
                    html = "No existe un libro con ese codigo";
                    document.getElementById('dive').style.display = 'none';
                }
            
                $("#datos").html(html);

            }



        });
    }
</script>

<script>
    $("#btn-c").on("click" , HiceClick2);
    
    function HiceClick2(){
        code  = document.getElementById("incd").value;
        $.ajax({

            data : {"code" : code , "libro" : libro},
            url : "/prestamo/ajx-generar",
            type : "get",
            dataType: 'json',
            success : function(data){
                
                var dt = data.data;
                if(dt.length>0){
                    html= "Creado exitosamente consecutivo: " + "00" + dt[0].id;
                }else{
                    html = "No se pudo crear";
                }
            
                $("#datos").html(html);

            }



        });
    }
</script>

{% endblock %}