{% extends "base.html" %}

{% block title %}Reservas{% endblock %}

{% block content %}
    <h1>Detalle de Reserva</h1>
        
    {% if mensaje %}
        <p class="bg-danger">{{mensaje}}</p>
    {% endif %}
    
    {% if reserva %}
        <table class="table">
            <tr>
                <th>
                    Código reserva
                </th>
                <td>
                    {{reserva.id}}
                </td>
            </tr>
            <tr>
                <th>
                    Usuario
                </th>
                <td>
                    {{reserva.usuario}}
                </td>
            </tr>
            <tr>
                <th>
                    Fecha
                </th>
                <td>
                    {{reserva.fecha_creacion}}
                </td>
            </tr>
        </table>
    {% endif %}
    <a href="/reservas/reserva_consulta/">Consultar reserva</a>    
{% endblock %}

{% block scripts %}
    {% load staticfiles %}    
    
{% endblock %}